The loss is : 0.006016

The accuracy of this model in train set is : 0.941836

The accuracy of this model in test set test-40-0 is :0.876257

The accuracy of this model in test set test-40-1 is :0.937999

The accuracy of this model in test set test-40-2 is :0.935422

The accuracy of this model in test set test-25-0 is :0.931532

The accuracy of this model in test set test-25-1 is :0.935244

The accuracy of this model in test set test-25-2 is :0.941637

The accuracy of this model in test set test-10-0 is :0.799381

The accuracy of this model in test set test-10-1 is :0.806601

The accuracy of this model in test set test-10-2 is :0.829293
